@import 'node_modules/react-modal-video/scss/modal-video.scss';

body {
  background: #fafafa;
}

.details-modal {
  background: white;
  width: 45vw;
  height: 60vh;
  text-align: center;
}

@media (max-width: 500px) {
  .details-modal {
    width: 90vw;
    height: 90vh;
  }
}

.App {
  text-align: center;
  margin-top: 50px auto;
  padding: 0 15px;
}

.card-img {
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
  transform: rotate(-2.2deg);
  background-repeat: no-repeat;
}

.card {
  // -webkit-box-shadow: 14px 13px 37px -31px rgba(0, 0, 0, 1);
  // -moz-box-shadow: 14px 13px 37px -31px rgba(0, 0, 0, 1);
  // box-shadow: 14px 13px 37px -31px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
}

.zoom img:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}

.error-message {
  font-weight: bold;
  color: red;
}

.footer {
  position: fixed;
  font-size: 0.8rem;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  padding: 0 15px;
  text-align: center;

  @media (max-width: 400px) {
    position: relative;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  outline: none;
}

button:focus {
  outline: none !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  padding: 10px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
