// .movies {
//   margin: 0 auto;
//   text-align: center;
//   display: flex;
//   align-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   width: 80%;
// }

.movies-container {
  width: 90%;
  //   height: 50%;
  margin: 30px auto;
}

.card {
  align-content: center;
  align-items: center;
  background-size: 50%;
}

.slick-prev,
.slick-next {
  color: black !important;
}

.slick-slider {
  text-align: center;
  //   height: 300px;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
